
/*Styles for contents-1.html, contents2.html, contents3.html*/

.contents{
	font-family: 'Hachi Maru Pop', cursive;
font-family: 'Marck Script', cursive;

}


.background-img{
	position:relative;
	margin-left:0;
	
}
	
.container{
		margin-left:0;
}		
		
.burns,.bleeding,.shock,.Poisoning,.Snakebite,.Choking,.Chestproblems,.Headinjury{
		position:absolute;
		margin-left:5%;
		background-color:white;
		margin-top:-50%;
		font-size:25px;
		padding-left:60px;
		padding-right:60px;			
		width:400px;
		height:750px;
		border-radius:5%;
}		

.bleeding,.Poisoning,.Choking{	
		margin-left:5%;
}

.burns,.Chestproblems{
		margin-left:35%;
}		

.shock,.Headinjury{
		margin-left:65%;
}	

.Poisoning{
		width:770px;
}	

.Snakebite{
		margin-left:50%;
		width:770px;
}		
			
.buttons{
		position:absolute;
		font-size:21px;
		text-decoration:none;
		
}	

a{
	text-decoration:none;
	color:#4B0082
}				

.recap-button{
         		margin-left:100px;
         		margin-top:-20px;
         		text-decoration:none;
}		

.next-button{	
			margin-top:-100px;
			margin-left:1670px;
			text-decoration:none;
			color:white;
}	

body{

	margin: 0; 
	height: 100%; 
	overflow: hidden;
}

	
	
@media screen and (max-width: 800px) {

body{
		position:relative;
		height:auto;
}		
		
html,body
{
    width: 100%;
    height:181%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-image: url("cover.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.burns,.bleeding,.shock,.Poisoning,.Snakebite,.Choking,.Chestproblems,.Headinjury{
		position:absolute;
		margin-left:4%;
		background-color:white;
		margin-top:-880px;
		font-size:45px;
		padding-left:60px;
		padding-right:60px;			
		width:520px;
		height:1600px;
		border-radius:5%;
}

.burns{
		margin-top:770px;
}	

.shock{
		margin-top:2420px;
}	

.recap-button{
         		margin-left:60px;
         		margin-top:-40px;
         		text-decoration:none;
}		

.next-button{	
			margin-top:4090px;
			margin-left:580px;
			text-decoration:none;
			color:white;
}
	
.buttons{
		font-size:35px;
}			
					
}	
			
