#one{
    border: 1px solid black;
}
body{
    background-color: #50c7fa;
}
.accordion-body{
    background-color: white;
}
.accordion-header{
    background-color: white;
}
#new {
    background-color: white;
    border-radius: 0.6rem;
    margin-top: 5%;
    margin-bottom: 5%;
}
@media (max-width:576px){
    
    .row{
      border: 1px solid
    }
    #headrow{
        display: none;
      }
  }