body {
 
  background-color: #0fa1fc;
}
#bcont{
    background-color: white;
    border-radius: 10px;
    margin-top: 10%;
}
.sanity{
    margin-bottom: 5%;
}
/*li{
  font-weight: 600;
  font-size: 1.3rem;
}*/