/*Styles for index-1.html*/
body{
	height: 100vh;
	background: #0eb7eb;
}	
#main{
	background: white;
	border-radius: 3rem;
	padding-top: 5%;
	padding-bottom: 5%;
}
#sec{
	margin-top: 10%;
	font-size: 30px;
}
a{
	margin-left:6px;
}	
/*.content{
		margin-top:50%;
		font-size: 25px;
		
		font-family: 'Gloria Hallelujah', cursive;
}
.list{
		margin-top:-15%;
		margin-left:37%;
		font-size: 18px;
}	*/
