body{
  background-color: #0eb7eb;
}

#one{
  border: 1px solid;
}

#cunt{
  margin-top: 5%;
  
}
#mycol {
  background-color: white;
  margin-bottom: 5%;
}
#mytext{
  text-align: center;
  margin-top: 5%;
}
@media (max-width:576px){
  #headrow{
    display: none;
  }
  #one{
   border: none;
  }
  
}
