body{
  background-color: #0eb7eb;
}
td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}
table {
  font-family: arial, sans-serif;
  background-color: white;
  border-collapse: collapse;
  margin-top: 5%;
  width: 60vw;
}
